__pycache__/*
token.pickle
credentials.json
.python-version
.DS_Store
.env
.envrc
__pycache__
src/gmail2line.egg-info
src/gmail2line/__pycache__/**
src/gmail2notification.egg-info
src/gmail2notification/__pycache__/**
docs
.pytest_cache
.vscode
pyrightconfig.json
.tox
Session.vim
