[Unit]
Description=Monitor Gmail Notifier
Wants=gnotifier.timer

[Service]
Type=oneshot
ExecStart=/home/USERNAME/.local/bin/g2notification
WorkingDirectory=/home/USERNAME/.config/gmail-notify
Environment="LINE_TOKEN=TOKENHERE"
Environment="LABEL_ID=LABELHERE"

[Install]
WantedBy=multi-user.target
